@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.itemDetail {
	width: 500px;
	height: 230px;
	padding: 10px;
	margin: 20px auto;
	border: 1px solid grey;
	border-radius: 10px;
	background-color: white;
}

.itemDetail img {
	float: left;
	width: 200px;
}

.itemDetail h2 {
	font-family: 'Chewy', cursive;
	font-size: 30px;
	margin-bottom: 0px;
}

.itemDetail h1 {
	margin-top: 0px;
}

.itemDetail h3 {
	font-size: 15px;
	font-weight: normal;
}