@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.Nav {
	margin-top: 0;
	height: 80px;
	width: auto;
}

.NavBar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: auto;
}

.NavBar h1 {
	font-size: 30px;
	font-family: 'Chewy', cursive;
}

.Navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 500px;
}

.Navigation a {
	display: inline-block;
	text-decoration: none;
	color: darkslategrey;
}

.NavBar-logo {
	margin-top: 20px;
	height: 50px;
}